.event-card {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem !important;
}

.card-box {
    border: 1.5px solid var(--grey);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.card-date {
    font-size: 0.8rem;
    color: var(--grey);
}

.card-desc {
    color: var(--light-grey);
}

.card-host {
    color: var(--light-grey);
}

.host-span {
    color: var(--red);
    font-weight: 600;
}