.space-card {
    width: 30rem;
    height: 15rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.avatar-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0.75rem;
}

.avatar-wrapper {
    height: max-content;
}

.space-avatars {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
}

.space-avatars:hover {
    border: 2px solid var(--primary);
}